{% include "config-options-global.pl.j2" %}
{% for policybank_name, policybank in config_policybanks|dictsort %}
$policy_bank{'{{ policybank_name }}'} = {
{% include "config-options-policybank.pl.j2" %}
};
{% endfor %}

1
